/* Using Tailwing Color Palette: https://tailwindcolor.com/ */

:root {
    --input-bg: #E7E5E4; /* stone 200 */
    --input-disabled-bg: #F5F5F4; /* stone 100 */
    --input-focus-bg: #E2E8F0; /* slate 200 */
    --button-bg: #D4D4D4; /* neutral 300 */
    --button-disabled-bg: #F5F5F5; /* neutral 100 */
    --button-focus-bg: #CBD5E1; /* slate 300 */
}

button,
select, 
input:not([type="file"]),
input[type="file"]::file-selector-button {
    color: #0C0A09;
    border-radius: 4px;
    border-width: 0px;
}

input:not([type="file"]), select {
    background-color: var(--input-bg);
    padding-left: 8px;
    padding-right: 8px;
}

input:not([type="file"]):focus, 
input:not([type="file"]):hover, 
select:focus, 
select:hover {
    background-color: var(--input-focus-bg);
}

input:not([type="file"]):disabled, 
select:disabled {
    background-color: var(--input-disabled-bg);
}

button {
    background-color: var(--button-bg);
}

button:disabled {
    background-color: var(--button-disabled-bg);
}

button:not(:disabled):focus, 
button:not(:disabled):hover {
    background-color: var(--button-focus-bg);
    cursor: pointer;
}

input:not([type="file"])::selection {
    border: 1px solid #fff;
}
