:modal {
    background-color: var(--white);
    border: 1px solid var(--raisin-black);
    border-radius: 8px;
    padding: 8px 0px 8px 0px;
    max-height: 75%;

    h1, h2, h3, h4 {
        margin: 0px 4px 0px 4px;
    }
}

.dialog-header {
    position: relative;
    float: left;
    width: 100%;
    padding: 8px 16px 8px 16px;
}

.dialog-body {
    position: relative;
    float: left;
    width: 100%;
    padding: 8px 16px 8px 16px;
}

.dialog-footer {
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 16px 8px 16px;
}

.dialog-close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 16px;
    transition: 0.3s;
    line-height: 20px;
}

.dialog-close-btn:hover,
.dialog-close-btn:focus {
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    :modal {
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }
}
