:root {
    /* logo palette */
    --white: #FEFEFD;
    --white-smoke: #E9E2E4;
    --pearl: #EEE4CF;
    --dun: #CDBEA0;
    --lavender-pink: #F4B9E5;
    --blush: #C86788;
    --eggplant: #614D5B;
    --raisin-black: #2D272A;
    --raisin-black-2: #232021;
    --black: #000000;
}
